name: CI

on:
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Format Check
        run: |
          rustup component add --toolchain nightly-x86_64-unknown-linux-gnu rustfmt
          cargo +nightly fmt --all -- --check

      - name: Build
        run: cargo build --all-targets

      - name: Test
        run: cargo test --all

      - name: Clippy (non-blocking)
        run: cargo clippy --all-targets --all-features || true
